.container {
    text-align: center;
    margin-top: 50px;
    background-color: rgb(21, 214, 214);
  }
  button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    background-color: rgb(240, 159, 10);
    
  }
  #display {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
h1{
    color: rgb(231, 198, 10);
}